<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--   <foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL"> -->
 <mapper namespace="kosta.todayroom.mapper.BasketMapper">
  <insert id="register">
  	<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL">
  		into basket values (seq_basket_basket_seq.nextval, #{item.basket_quantity}, #{item.product_seq})
  	</foreach>
  </insert>
<!--   
  <resultMap type="kosta.todayroom.domain.ProductVO" id="productMap">
  	<id property="product_seq" column="product_seq"></id>
  	<result property="product_name" column="product_name"></result>
  	<result property="product_price" column="product_price"></result>
  	<result property="product_fname" column="product_fname"></result>
  	<result property="store_seq" column="store_seq"></result>
  	<collection javaType="BasketVO" property="basketVO">
  		<id c
  	</collection>
  </resultMap>
  
   -->
  <resultMap type="kosta.todayroom.domain.BasketVO" id="basketMap">
  	<id property="basket_seq" column="basket_seq"></id>
  	<result property="basket_quantity" column="basket_quantity"></result>
  	<association property="productvo" javaType="kosta.todayroom.domain.ProductVO">
	  	<id property="product_seq" column="product_seq"></id>
	  	<result property="product_name" column="product_name"></result>
	  	<result property="product_price" column="product_price"></result>
	  	<result property="product_fname" column="product_fname"></result>
	  	<result property="store_seq" column="store_seq"></result>
  	</association>
  
  </resultMap>
  
  <select id="list" resultMap="basketMap">
  	select * 
  	from basket b, product p
  	where b.product_seq = p.product_seq
  </select>
  
  <update id="update">
  	update basket set basket_quantity=#{basket_quantity}
  	where basket_seq=#{basket_seq}
  </update>
  
  <delete id="delete">
  	delete from basket where basket_seq=#{basket_seq}
  </delete>
  
 </mapper>