<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.todayroom.mapper.ContractorMapper">
	
	
	<insert id="register" parameterType="kosta.todayroom.domain.ContractorVO">
		insert into contractor values(SEQ_CONTRACTOR_CONTRACTOR_SEQ.nextval, #{contractor_bname}, #{contractor_name}, #{contractor_address}, #{member_seq}, #{admin_seq} ) 
	</insert>
	
	<select id="read" parameterType="int" resultType="kosta.todayroom.domain.ContractorVO">
		select * from contractor where member_seq=#{seq}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from contractor where member_seq = #{seq}
	</delete>
</mapper>
