<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosta.todayroom.mapper.ProductMapper">


<select id="getList" resultType="kosta.todayroom.domain.StoreVO">
	select * from store
</select>

<insert id="ProductRegister">
	insert into store (store_seq, member_seq, store_title, store_content, store_name, store_picture)
	values(SEQ_STORE_STORE_SEQ.nextval, 2, #{store_title}, #{store_content}, #{store_name}, #{store_picture})
</insert>

<select id="ProductRead" resultType="kosta.todayroom.domain.StoreVO">
	select * from store where store_seq = #{store_seq}
</select>

<delete id="ProductRemove">
	delete from store where store_seq = #{store_seq}
</delete>

<update id="ProductModify">
	update store
	set store_title = #{store_title},
	store_content = #{store_content}
	where store_seq = #{store_seq}
</update>



</mapper>