<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kosta.todayroom.mapper.StoreMapper">
  
  <select id="StoreList" resultType="kosta.todayroom.domain.StoreVO">
	  select * from store
  </select>
  
  <select id="StoreRead" resultType="kosta.todayroom.domain.StoreVO">
  		select * 
		from store
		where store_seq = #{store_seq}
  </select>
  
  <select id="ProductList" resultType="kosta.todayroom.domain.ProductVO">
  	select * 
  	from product
  	where store_seq = #{store_seq}
  </select>
  
  
 </mapper>