@charset "UTF-8";

.cupon_text {
	float: right;
}

.table-responsive img {
    position: relative;
    margin-right: 10px;
    font-size: 0;
}

.cart_inner .table tbody tr td .media .d-flex img {
    border-radius: 3px;
    width: 150px;
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    color: #222;
    border-bottom: 0px !important;
    width: 100px;
}