
.scrap_list{
	border: solid;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
	
}

.scrapList_header{
text-align: center;
    margin-top: 100px;
    }


.scrap_img{
	border: solid;
    width: 200px;
    height: 200px;
	
}

.scrap_board_title{
	border: solid;
    width: 200px;
}

.scrap_nav a{
	    margin: 30px;
}

.scrap_1_list{
	float: left;
    margin: 50px;
}


.TEST{
	float: left;
    margin-right: 20px;
}

#scrap_boardTitle{
	font-weight: bold;
}


#board_title{
	color: black !important;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

